.home {
  display: grid;
  gap: 1rem;
  text-transform: capitalize;

  h2 {
    text-align: center;
  }

  div {
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
    display: flex;
    align-items: center;
  }

  input {
    background-color: none;
    border: none;
    padding: 0.25rem;

    &:placeholder-shown{
      text-transform: capitalize;
    }
  }

  svg {
    color: rgb(31, 29, 29);
    padding: 0.125rem;
  }
}